<%- include('partials/header') %>

    <main id="main">
        <div class="container">
            <h1>You are an Admin!!!</h1>
            <br>
            <a href="/admin/add">Add Products</a>
            <a href="/admin/products">Show products</a>
        </div>    
    </main><!-- End #main -->
    
<%- include('partials/footer') %>
